
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: Arial;
   }

   body {
       background: linear-gradient(135deg, #0f172a, #1e293b);
       color: white;
   }


   .hero {
       text-align: center;
       padding: 80px 20px;
   }

   .hero h1 {
       font-size: 50px;
   }

   .hero p {
       font-size: 20px;
       margin-top: 10px;
       color: #cbd5e1;
   }


   .about {
       text-align: center;
       padding: 60px 20px;
   }

   .about h2 {
       font-size: 30px;
       margin-bottom: 10px;
   }


   .projects {
       padding: 40px 20px;
       text-align: center;
   }

   .projects h2 {
       margin-bottom: 30px;
   }

   .cards {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       gap: 20px;
       max-width: 1000px;
       margin: auto;
   }

   .card {
       background: #111827;
       border-radius: 15px;
       overflow: hidden;
       transition: 0.3s;
       cursor: pointer;
   }

   .card:hover {
       transform: translateY(-10px);
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
   }

   .card img {
       width: 100%;
       height: 160px;
       object-fit: cover;
   }

   .card p {
       padding: 15px;
   }


   .skills {
       text-align: center;
       padding: 50px 20px;
   }

   .skill-box {
       display: inline-block;
       background: #3b82f6;
       padding: 10px 20px;
       margin: 10px;
       border-radius: 10px;
   }


   .contact {
       background: #0b1220;
       text-align: center;
       padding: 50px 20px;
   }

   .contact a {
       display: block;
       color: #60a5fa;
       margin: 8px;
       text-decoration: none;
   }

   .contact a:hover {
       color: white;
   }
   
   
   .rassa{
     width: 100%;
     height: auto;
     color: aqua;
     text-align: center;
   }
   
   .rasmas{
     width: 100%;
     height: 100%;
     border-radius: 25px;
   }

